services:
  # Run Service
  db:
    image: postgres:14
    container_name: db14
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: postgres
    restart: always
    volumes:
      - db14-data:/var/lib/postgresql/data
    networks:
      - odoo-net

  # Run Service
  odoo16:
    image: odoo:16
    container_name: odoo16
    depends_on:
      - db   # el nombre del servicio. Odoo espera a que se inicie la DB
    environment:
      HOST: db        # nombre del servicio, no del contenedor
      USER: admin
      PASSWORD: admin
    ports:
      - "8069:8069"   # puerto del HOST : puerto del contenedor
    volumes:
      - odoo16-data:/var/lib/odoo              # datos de Odoo
      - ./config_odoo:/etc/odoo                # configuración
      - ./custom-addons:/mnt/extra-addons      # módulos personalizados
      - ./logs:/var/log/odoo                   # logs
    networks:
      - odoo-net

volumes:
  db14-data:
  odoo16-data:

networks:
  odoo-net:
